<!DOCTYPE html>
<html>
  <head>
    <title>Form</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/bootstrap.min.css" />
    <script src="assets/jquery.min.js"></script>
    <script src="assets/popper.min.js"></script>
    <script src="assets/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.php">SC</a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="index.php"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="sport.php">Sport</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="team.php">Team</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="col-lg-6 m-auto">
      <form method="post">
        <br /><br />
        <div class="card">
          <div class="card-header bg-primary">
            <h1 class="text-white text-center">ACTION_NAME Member</h1>
          </div>
          <br />

          <label> NAME: </label>
          <input
            type="text"
            name="name"
            class="form-control"
            value="VALUE_NAME"
          />
          <br />

          <label> EMAIL: </label>
          <input
            type="text"
            name="email"
            class="form-control"
            value="VALUE_EMAIL"
          />
          <br />

          <label> PHONE: </label>
          <input
            type="text"
            name="phone"
            class="form-control"
            value="VALUE_PHONE"
          />
          <br />

          <label> JOIN DATE: </label>
          <input
            type="date"
            name="join_date"
            class="form-control"
            value="VALUE_JOIN"
          />
          <br />

          <label> SPORT TYPE: </label>
          <select class="form-control" id="sport" name="sport">
            SPORT_OPTION
          </select>

          <label> TEAM: </label>
          <select class="form-control" id="team" name="team">
            TEAM_OPTION
          </select>

          <button class="btn btn-success" type="submit" name="submit">
            Submit</button
          ><br />
          <a class="btn btn-info" type="submit" name="cancel" href="index.php">
            Cancel </a
          ><br />
        </div>
      </form>
    </div>
    HTML_SCRIPT
  </body>
</html>
